.products {
    padding-top: 65px;
    background-color: #333F60;
    height: 100vh;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.TextBox {
    width: 50%;
    display: block;
    margin: auto;

}

.productsTextBox {
    display: flex;
    border: solid white 4px;
}

.Button{
    color: white;
}

.tag{
    color: black;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.Pumps {
    border: solid white 2px;
    padding: 10px;
    background-color: #BCBCBC;
    color: black
}

.Attachments {
    border: solid white 2px;
    padding: 10px;
    background-color: #BCBCBC;
}

.Hose{
    border: solid white 2px;
    padding: 10px;
    background-color: #BCBCBC;
}

.theBar {
    size: 10px;
}

.picture{
    max-width: 500px;
    width: 75vw;
    border: solid #BCBCBC 4px;
    margin: 10px;
}