.Items {
    position: relative;
    max-width: 1000px;
    padding-top: 65px;
    background-color: #333F60;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backButton {
    color: white;
}

.button {
    color: white
}