.Home {
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:  #2D3755;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px 10px
                rgba(0, 0, 0, .25)
}



.homeContent{
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.imageTextBox {
    position: relative;
    text-emphasis: center;
    color: white
}

.textBox {
    /* background-color: #1F1C1D; */
    width: 60vw;
    max-width: 600px;
    border: solid #BCBCBC 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homePic {
    position: relative;
    padding-top: 60px;
    z-index: 0;
    /* max-width: 1000px; */
    width: 100%;
    height: auto;
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
}

.pipeImg {
    border: solid #2D3755 2px;
    position: relative;
    min-width: 220px;
    max-width: 300px;
    width: 20;
    max-height: 200px;
    box-shadow: 0px 0px 25px 10px
                rgba(0, 0, 0, .25)
}

.pumpImg {
    border: solid #2D3755 2px;
    position: relative;
    min-width: 120px;
    width: 220px;
    max-height: 240px;
    min-height: 200px;
    box-shadow: 0px 0px 25px 10px
                rgba(0, 0, 0, .25)
}

.details {
    background-color: #343D64;
    display: flex;
    justify-content: space-around;
    max-width: 300px;;
    padding: 35px;
    border: solid  #BCBCBC 3px;
    display: block;
    margin: auto;
}

.details2 {
    background-color: #343D64;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    padding: 35px;
    border: solid  #BCBCBC 3px;
    display: block;
    margin: auto;
}

.firstText {
    font-size: 12px;
    padding: 5px;
}

.space{
    clear: both;
    color: #2D3755
}

.productsButton{
    background-color: #BCBCBC;
    display: block;
    margin: auto;
    width: 100px;
    border: solid #BCBCBC 2px;
    color: white;
}

.loginButton {
    background-color: #BCBCBC;
    display: block;
    margin: auto;
    width: 100px;
    border: solid #BCBCBC 2px;
    color: white;
}

.loginButton:hover{
    transform: scale(1.1)
}

.productsButton:hover{
    transform: scale(1.1)
}

@media(min-width: 730px) {
    .homeContent{
        flex-direction: row;
    }
}