.header {
    position: fixed;
    /* /* padding-left: 10vw; */
    padding-right: 10vw; 
    z-index: 5;
    background: linear-gradient(to left, #fff, rgb(196, 196, 196));
    height: 60px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    color: var(--mainColor)
}


.LineItem{
    padding: 10px;
}

.LineItem:hover{
    text-decoration: underline #343D64
}

.Logo {
    width: 145px;
    padding-left: 80px;
}

.LineItem {
    align-content: space-around;
    padding: 10px;
}

.List {
    display: flex;
    justify-content: flex-end;
    float: right;
    margin: 0;
    list-style-type: none;
    float: right;
    width: 100vw;
}

.ham{
    display: none;
}
.bar{
    background: var(--secondaryColor);
    width: 35px;
    height: 5px;
    margin: 3px;
    transition: .5s;
}
.bar1{
    transform: rotate(405deg) translate(8px,3px)
}
.bar2{
    transform: rotate(-405deg);
    background: rgba(0, 0, 0, 0)
}
.bar3{
    transform: rotate(-405deg) translate(7px, -4px)
}
@media(max-width:700px){
    .ham{
        display: inline;
    }
    .List{
        display: none
    }
} 