.App {
  color: white;
  text-align: center;
  --mainColor: #FF5F6D;
  --secondaryColor: #FFC371; 

  --mainColor: #8E0E00;
  --secondaryColor: #1F1C18; 

  --mainColor: #2D3755;
  --secondaryColor: #928DAB;

  --black : #333;
  --white : #fff;
  background: var(--mainColor);
  background-color: #F6F5F1;
  height: 100%;
}
div{
  font-weight: 800;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #2D3755
}



